# Dependencies
node_modules/
*.lock

# Builds
build/
*.tsbuildinfo

# Next.js
.next/
out/

# GitHub
.github/

# Visual Studio Code
.vscode/

# Craft CMS
craft/

# Docker
docker/

# Documentation
*.md

# Package Configuration
*.json
*.config.js
*.config.ts

# Environment Variables
.env*
