* {
	font-family: "Verdana", sans-serif;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

hr {
	width: 800px;
	margin: 20px 0px;
}

p {
	margin-bottom: 0px;
}

ul {
	margin-top: 0px;
}

code {
	font-family: monospace;
	font-size: 15px;
	display: inline-block;
	padding: 1px;
	background-color: light-gray;
}
